.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* plan info slice */

#plan-slice-container {
  width: 450px;
}

.plan-slice-col {
  width: 33.3%;
  float: left;
}
