/*
  FIXME: fix box shadows
  FIXME: margin after cancel button not working
*/

* {
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: hsl(224, 100%, 95%);
}

a {
  text-decoration: none;
}

.grey-text {
  color: hsl(232, 10%, 59%);
}

/* card */

#order-summary-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  width: 450px;
  height: 680px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0 hsl(223, 30%, 60%),
    0px 6px 20px 0 hsl(223, 30%, 60%);
}

#order-summary-card p {
  font-size: 16px;
}

/* card header */

#card-header img {
  border-radius: 15px 15px 0px 0px;
}

/* order summary */

#order-summary p {
  width: 80%;
  margin: 10px auto 20px;
}

#order-summary h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-top: 40px;
}

/* plan info slice */

#plan-slice-container {
  background-color: hsl(225, 100%, 98%);
  width: 80%;
  margin: 0 auto 30px;
  border-radius: 15px;
}

#plan-icon,
#plan-change {
  width: 24%;
}

#plan-icon {
  line-height: 0;
}

.plan-slice-col {
  vertical-align: top;
  display: inline-block;
  margin: 5% 0;
  height: 52px;
}

#plan-info {
  width: 49%;
  text-align: left;
}

#plan-info #plan-info-name {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  margin-top: 2px;
}

#plan-change {
  padding-top: 14px;
}

#plan-change a {
  text-decoration: underline;
  color: blue;
  font-weight: 700;
}

#plan-change a:hover {
  color: hsl(259, 85%, 62%);
  text-decoration: none;
}

/* payment */

#payment-button {
  background-color: hsl(223, 75%, 41%);
  color: white;
  width: 80%;
  height: 50px;
  margin: 10px auto;
  border-radius: 15px;
  line-height: 50px;
  font-weight: bold;
  box-shadow: 0px 4px 8px 0 hsl(223, 30%, 60%),
    0px 6px 20px 0 hsl(223, 30%, 60%);
}

a #payment-button:hover {
  background-color: hsl(259, 85%, 62%);
}

#cancel-button {
  width: 80%;
  height: 50px;
  margin: 30px auto 20px;
}

#cancel-button a {
  font-weight: bold;
}

#cancel-button a:hover {
  color: hsl(223, 47%, 23%);
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#footer-container {
  position: fixed;
  bottom: 5px;
  left: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
}
