* {
  border: 1px solid black;
}

/* */

body {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-color: hsl(225, 100%, 98%);
}

/* */

#order-summary-card {
  width: 454px;
  margin: auto;
}

#order-summary-card p {
  font-size: 16px;
}

#order-summary {
  background-color: white;
}

/* plan info slice */

#plan-slice-container {
  background-color: hsl(225, 100%, 98%);
  width: 85%;
  margin: auto;
}

.plan-slice-col {
  width: 30%;
  display: inline-block;
}

#plan-info {
  text-align: left;
}

/* payment */

#payment-button {
  background-color: hsl(223, 47%, 23%);
  width: 85%;
  height: 50px;
  margin: 30px auto;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
